<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/vue@next"></script>
    <title>Title</title>
    <link rel="stylesheet" href="./public/styles.css">
</head>
<body>
<div id="app">
    <div class="content">
        <div class="input__main">
            <div class="title">To Do APP</div>
            <div class="input__group">
                <input class="input__text" type="text" v-model="input">
                <div class="input__button" @click="addTask">Добавить</div>
            </div>
            <ul>
                <li v-for="(task, index) in tasks" :key="index">{{index}}-{{task.name}}-{{task.complete}}
                    <button @click="deleteTask(index)">Удалить</button>
                    <button @click="editTask(index)">Редакатировать</button>
                    <input v-if="visible" type="text" v-model="editInput">
                </li>
            </ul>
        </div>
    </div>
</div>


<script src="./1.js"></script>
</body>
</html>


